.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  margin: 20px auto;
  max-width: 460px;
  border: solid 1px #858585;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  background-color: #ececec;
}

.display {
  width: 200px;
  filter: drop-shadow(0 0 1px #3a3a3a);
  font-size: 18px;
  border-radius: 5px;
}

.buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

button {
  font-size: 18px;
  padding: 2px;
  margin: 2px;
  min-width: 30px;
  background-color: #cac9c9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.span2 {
  grid-column: span 2;
}

button:active {
  box-shadow: inset 1px 1px 3px #8f8f8f, inset -1px -1px 3px #9a9a9a;
}

footer {
  margin-top: 20px;
}